/*common css start*/
:root{
	--gr: #707070;
	--wh: #FFFFFF;
	--btnc: #F9C06A;
	--bl: #1E1E1E;
	--cof: #603809;
}
body{
	font-family: "Playfair Display", serif;
	font-weight: 400;
	font-size: 16px;
	color: var(--gr);
}
/*common css end*/

/*header start*/
header{
	background-image: url(../images/head.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.logo{
	font-family: "Clicker Script", cursive;
	font-weight: 400;
	font-size: 35px;
	color: var(--wh);
}
.logo:hover{
	color: var(--wh);
}
.menu{}
.menu ul li a,
.navbar-nav .nav-link.active{
	margin: 0 35px 0;
	font-weight: 500;
    font-size: 14px;
    color: var(--wh);
    transition: 0.55s linear;
}
/*.tog_cus{
	color: var(--btnc);
	border: 2px solid var(--btnc);
}*/
.navbar-toggler:focus {
	color: transparent;
}
.menu ul li a:hover, .navbar-nav .nav-link.active:hover{
	color: var(--btnc);
}
.cus_bar{
	color: var(--btnc);
	border: 1px solid var(--btnc);
	border-radius: 5px;
	padding: 2px 2px 2px;
}
.btnx{
	padding: 12px 32px;
    background-color: var(--btnc);
    margin: 0 10px 0;
    align-items: center;
    border-radius: 24px;
    font-size: 14px;
    color: var(--bl);
    transition: 0.35s linear;
}
.btnx:hover{
	color: var(--bl);
	background-color: var(--wh);
}

.h_text{
	padding: 100px 0;
}
.htp{
	font-weight: 500;
    font-size: 22px;
    color: var(--wh);
}
.head_h1{
	font-family: "Clicker Script", cursive;
	font-weight: 400;
	font-size: 220px;
	color: var(--wh);
}
.htpg{
	font-weight: 400;
    font-size: 20px;
    color: var(--wh);
    margin-bottom: 20px !important;
    line-height: 35px;
}
/*header end*/

/*discover start*/
.discover{
	padding: 40px 0;
}
.d_text{}
.com_h1{
	font-weight: 700;
	font-size: 54px;

}
.cof{
	color: var(--cof);
}
.bl{
	font-weight: 400;
    color: var(--gr);
    font-size: 20px;
    line-height: 35px;
    margin: 30px 0 30px !important;
}

.d_img{}
.d_img img{}

.side_img {
    margin: -108px 0 -100px;
}
.side_img img{}
/*discover end*/

/*enjoy start*/
.enjoy{
	padding: 40px 0;
}
.com_text{

}
.blp{
	margin-top: 20px !important;
}
.car_x{
	margin: 20px 0 0;
}

.car_x img{}

.c_body{
	background-color: #F9C06A6B;
}
.ca_h1{
	color: var(--cof);
	font-size: 22px;
	padding: 0 0 10px;
}
.ca_p{
	font-weight: 500;
	font-size: 16px;
	color: var(--gr);
}
.ca_pg{
	margin-bottom: 10px !important;
}
.btnx_p{
	margin-bottom: -40px !important;
}
.btnx_p:hover{
	background-color: var(--cof);
	color: var(--wh);
}
/*enjoy end*/


/*different start*/
.different, .feedback, .news{
	padding: 40px 0;
}
.cb_p{
	padding: 30px 0 30px;
}
.sidex_img{
	margin: -40px 0 -170px;
}
.l_text{}
.lt_p{
	font-size: 20px;
	margin: 40px 0 5px !important;
}
.lt_h1{
	font-size: 20px;
}
.btnx_p2{
	    margin: 20px 0 20px;
}
/*different start*/

/*chance start*/
.chance{
	background-image: url(../images/bg1.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.chance_text{
}
.chance_text h1, .chance_text h2{
	font-weight: 700;
	font-size: 40px;
	color: var(--wh);

}
.chance_text p{
font-weight: 400;
font-size: 20px;
line-height: 20px;
color: var(--wh);

}
.chance_img{
}
.chance_img img{}
/*chance end*/

/*feedback start*/
.cus_indi{}
.box{
	background-color: #FFF9F1;
	border: 1px solid #F9C06A;
	padding-bottom: 50px;
}
.box_up{}
.box_up h1{
	padding-top: 30px;
	font-weight: 700;
	font-size: 150px;
	line-height: 112px;
	color: var(--cof);
}
.box_middle{}
.box_middle p{
	font-weight: 600;
	font-size: 18px;
	line-height: 36px;
}
.box_down{}
.box_down h1{
font-weight: 700;
font-size: 32px;
color: var(--cof);
}
.box_down p{
font-weight: 400;
font-size: 20px;
line-height: 34px;
}
.slide_img {
    margin: -70px 0px 0px;
}
.slide_img img{
}

.btn_p{}
.btn_n{}
.btn_slide{
	width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color: var(--btnc);
    margin: 25% -25px;
}
.icon{
	color: var(--cof);
	font-size: 20px;
}
.im2{
	border-radius: 30px;
}

/*feedback end*/

/*news start*/
.news{
}
.news1{
	position: relative;
	opacity: 0.1;
}
.ct{
	padding: 30px 0px;
	background-color: var(--cof);
    position: absolute;
    opacity: 1;
    left: 5%;
    width: 90%;
    height: 80vh;
}
.wh{
	color: var(--wh);
}
.cus_f{
	height: 60px;
    width: 650px;
    margin: 0 auto;
	font-weight: 400;
	font-size: 20px;
	line-height: 34px;

}
.btx{
	height: 60px;
    margin-left: 70%;
    margin-top: -89px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 22px;
    color: var(--cof);
    transition: 1s linear;
}
.btx:hover{
	background-color: var(--cof);
	color: var(--wh);
}
/*news start*/

/*footer start*/
footer{
	position: relative;
	padding: 100px 30px;
	background-image: url(../images/foot1.png);
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 1;
}
.foot_color{
	position: absolute;
    top: 0;
    left: 0;
    opacity: 0.3;
}
.foot_color img{
}
.f_h1{
	font-family: Clicker Script;
	font-weight: 400;
	font-size: 54px;
	color: var(--wh);
	margin-bottom: 20px !important;

}
.f_p{
	font-family: Playfair Display;
	font-weight: 400;
	font-size: 14px;
	line-height: 22px;
	color: var(--wh);
	margin-bottom: 20px !important;
}
.f_up{
}
.f_up ul li a{
	font-weight: 400;
	font-size: 18px;
	line-height: 42px;
	color: var(--wh);
}

.f_list{}
.f_list h1{
	font-weight: 700;
	font-size: 26px;
	color: var(--wh);
	margin-bottom: 50px !important;
}
.f_list ul li a{
	text-decoration: none;
	font-weight: 400;
	font-size: 18px;
	line-height: 42px;
	color: var(--wh);
}

.f_list p{
	font-weight: 400;
	font-size: 18px;
	color: var(--wh);
}

.icon{

}
/*footer start*/
